<%= header(blog, h(blog.title)) %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Welcome</h1>
    <p>I am <a href="http://guillaume.claret.me/">Guillaume Claret</a>, a PhD student in computer science for the <a href="http://www.pps.univ-paris-diderot.fr/pi.r2/">πr²</a> team in Paris. I post here some articles about things I am doing playing with Coq.</p>

    <h2>Posts</h2>
    <ul>
    <% blog.posts.each do |post| %>
      <li><a href="<%= u post.url %>"><%= h post.name %></a> <%= post.date_string %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-1"></div>
</div>

<%= footer %>
