<%= header(blog, "Publications", :posts) %>

<div class="row">
  <div class="col-md-12">
    <h1>Publications</h1>
    <ul>
    <% blog.posts.each do |post| %>
      <li><a href="<%= u post.url %>"><%= h post.name %></a> <%= post.date_string %></li>
    <% end %>
    </ul>
  </div>
</div>

<%= footer %>
