<%= header(blog, h(post.name)) %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="post_title"><%= h post.name %></h2>
    <p><em><%= post.date_string %></em></p>
    <%= post.html %>

    <div id="disqus_thread"></div>
    <script>
      var disqus_shortname = '<%= u blog.disqus %>';

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript><p>Enable JavaScript to view the comments.</p></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  <div class="col-md-1"></div>
</div>

<%= footer %>
